
### Assignment 1: Creating and Connecting to a Database
1. Write a Python function to create a new SQLite3 database named `test.db`.# Module: SQLite3 Assignments
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [8]:

#1. Write a Python function to create a new SQLite3 database named `test.db`.
import sqlite3 

def create_database():
    connection = sqlite3.connect('test.db')
    connection.close()
    print("New SQLite3 database is created and connected")

create_database()

New SQLite3 database is created and connected

In [2]:
### Assignment 1: Creating and Connecting to a Database
#2. Write a Python function to create a table named `employees` with columns `id` (integer), 
# `name` (text), `age` (integer), and `department` (text) in the `test.db` database.
def create_table():
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('''
        Create Table if Not Exists employees(
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER,
        department TEXT NOT NULL
        )
    ''')
    connection.commit()
    connection.close()
    print("employees table created")

create_table()

employees table created

In [ ]:
## Assignment 2: Inserting Data
#1. Write a Python function to insert a new employee into the `employees` table.
#2. Insert at least 5 different employees into the `employees` table.
def insert_table(id, name, age, department):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('''
           INSERT INTO employees(id,name,age,department)
           VALUES(?,?,?,?)

    ''',(id, name, age, department))
    connection.commit()
    connection.close()
    print("new employee inserted successfully")

insert_table(101,'Akanksha Meshram',21,'AI&DS')
insert_table(102,'Anchal',20,'AI&DS')
insert_table(116,'krupali',22,'AI&DS')
insert_table(110,'kamakshi',20,'AI&DS')
insert_table(114,'komal',20,'AI&DS')
insert_table(119,'Teena',20,"IT")

In [ ]:
#### Assignment 3: Querying Data
#1. Write a Python function to fetch and display all records from the `employees` table.
def fetch_data():
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('Select * from employees')
    records = cursor.fetchall()
    connection.close()
    for record in records:
        print(record)

fetch_data()

In [ ]:
#### Assignment 3: Querying Data
#2. Write a Python function to fetch and display all employees from a specific department.
def specific_dataFetch(department):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('SELECT * FROM employees WHERE department = ?', (department,))
    records = cursor.fetchall()
    connection.close()
    for record in records:
        print(record)

specific_dataFetch('AI&DS')

(101, 'Akanksha Meshram', 21, 'AI&DS')
(102, 'Anchal', 20, 'AI&DS')
(116, 'krupali', 22, 'AI&DS')

In [ ]:
### Assignment 4: Updating Data
#1. Write a Python function to update the department of an employee based on their `id`.
#2. Update the department of at least 2 employees and display the updated records.


def update_info(id,department):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('''
        UPDATE employees
        SET department = ?
        WHERE id = ?
    ''', (id,department))
    connection.commit()
    connection.close()
    print("Employee department updated successfully.")

update_info(102,'IT')
update_info(116,'CSE')

In [ ]:
### Assignment 5: Deleting Data

#1. Write a Python function to delete an employee from the `employees` table based on their `id`.
#2. Delete at least 1 employee and display the remaining records.
def delete(id):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('''
         Delete from employees 
         where id = ?
    ''',(id,))
    connection.commit()
    connection.close()
    print("employee deleted from employees table")

delete(102)
fetch_data()

In [11]:
### Assignment 6: Advanced Queries
#1. Write a Python function to fetch and display employees older than a certain age.
def fetch_display(age):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('select * FROM employees where age > ?', (age,))
    records = cursor.fetchall()
    connection.close()
    for record in records:
        print(record)

fetch_display(20)

(101, 'Akanksha Meshram', 21, 'AI&DS')
(116, 'krupali', 22, 'AI&DS')

In [15]:
### Assignment 6: Advanced Queries
#2. Write a Python function to fetch and display employees whose names start with a specific letter.

def fetch_nameLetter(letter):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    connection.close()
    for record in records:
        print(record)

fetch_nameLetter('A')

(101, 'Akanksha Meshram', 21, 'AI&DS')
(102, 'Anchal', 20, 'AI&DS')

In [ ]:
### Assignment 7: Handling Transactions
#1. Write a Python function to insert multiple employees into the `employees` table in a single transaction.
#  Ensure that if any insertion fails, none of the insertions are committed.
def multiple_insertion(employees):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    try:
        cursor.executemany('''
            INSERT INTO employees (id, name, age, department)
            VALUES (?, ?, ?, ?)
        ''', employees)
        connection.commit()
        print("All employees inserted successfully.")
    except  Exception as e:
           connection.rollback()
           print("Error occurred, transaction rolled back.")
           print(e)
    finally:
        connection.close()

In [ ]:
## Assignment 7: Handling Transactions
#2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.
def update_multiple_employees_ages(updates):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''
            UPDATE employees
            SET age = ?
            WHERE id = ?
        ''', updates)
        conn.commit()
        print("All employee ages updated successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function with valid and invalid data
updates = [
    (32, 1),
    (26, 2),
    (33, 3),
    (41, 4),  # Non-existing ID to cause an error
    (23, 5)
]
update_multiple_employees_ages(updates)

All employee ages updated successfully.

In [23]:
### Assignment 8: Creating Relationships

#1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
def create_table():
    connection = sqlite3.connect('departments.db')
    cursor = connection.cursor()
    cursor.execute('''
    Create Table if Not Exists departments(
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL
    )
   ''')
    connection.commit()
    connection.close()
    print("table created")

In [ ]:
### Assignment 8: Creating Relationships
#2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
def add_department_foreign_key():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        PRAGMA foreign_keys=off;
        BEGIN TRANSACTION;
        ALTER TABLE employees RENAME TO old_employees;
        CREATE TABLE employees (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT,
            department_id INTEGER,
            FOREIGN KEY(department_id) REFERENCES departments(id)
        );
        INSERT INTO employees (id, name, age, department)
        SELECT id, name, age, department FROM old_employees;
        DROP TABLE old_employees;
        COMMIT;
        PRAGMA foreign_keys=on;
    ''')
    conn.commit()
    conn.close()
    print("Table 'employees' modified successfully.")

# Test the function
add_department_foreign_key()

In [ ]:
### Assignment 8: Creating Relationships
#3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

def insert_department_and_employee(department_id, department_name, employee_id, name, age, department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.execute('''
            INSERT INTO departments (id, name)
            VALUES (?, ?)
        ''', (department_id, department_name))
        cursor.execute('''
            INSERT INTO employees (id, name, age, department, department_id)
            VALUES (?, ?, ?, ?, ?)
        ''', (employee_id, name, age, departments, department_id))
        conn.commit()
        print("Department and employee inserted successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function
insert_department_and_employee(1, 'Finance', 10, 'Zara', 28, 'Finance')

Error occurred, transaction rolled back.
no such table: departments

In [31]:
### Assignment 9: Indexing and Optimization
#1. Create an index on the `name` column of the `employees` table.
def create_index_on_name():
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('CREATE INDEX idx_name ON employees(name)')
    connection.commit()
    connection.close()
    print("Index on 'name' column created successfully.")

# Test the function
create_index_on_name()

Index on 'name' column created successfully.

In [32]:
### Assignment 9: Indexing and Optimization
#2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.
import time

def fetch_employees_name_starts_with_performance(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    start_time = time.time()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    end_time = time.time()
    conn.close()
    print("Time taken: {} seconds".format(end_time - start_time))
    for record in records:
        print(record)

# Test the function with the index
fetch_employees_name_starts_with_performance('A')

Time taken: 0.0003769397735595703 seconds
(101, 'Akanksha Meshram', 21, 'AI&DS')
(102, 'Anchal', 20, 'AI&DS')

In [33]:
### Assignment 10: Backing Up and Restoring Data
#1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
import shutil

def backup_database():
    shutil.copy('test.db', 'backup.db')
    print("Database backed up successfully.")

# Test the function
backup_database()

Database backed up successfully.

In [34]:
### Assignment 10: Backing Up and Restoring Data
#2. Write a Python function to restore the `test.db` database from the `backup.db` file.
def restore_database():
    shutil.copy('backup.db', 'test.db')
    print("Database restored successfully.")

# Test the function
restore_database()

Database restored successfully.