# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [ ]:
### Assignment 1: DataFrame Creation and Indexing
#1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A','B','C','D'])
print("original dataframe:")
print(df)

df.set_index('A',inplace=True)
print("DataFrame with new index:")
print(df)

In [ ]:
### Assignment 1: DataFrame Creation and Indexing
#2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

df = pd.DataFrame(np.random.randint(1,100,size=(3,3)),columns=['A','B','C'],index=['X','Y','Z'])
print(df)
print("element at row y and column B",df.at['Y','B'])

    A   B   C
X  39  63  26
Y  60   1  72
Z  80  60  49
element at row y and column B 1

In [ ]:
## Assignment 2: DataFrame Operations
#1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

df = pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=['A','B','C'])
print(df)
df['D'] = df['A']*df['B']
print("after adding a new column",df)

In [ ]:
## Assignment 2: DataFrame Operations
#2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.
df = pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=['A','B','C'])
print(df)
row_wise = df.sum(axis=1)
col_wise = df.sum(axis=0)
print("row wise sum of the data frame",row_wise)
print("column wise sum of the data frame",col_wise)

In [ ]:
### Assignment 3: Data Cleaning
#1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

df.iloc[0, 2] = np.nan
df.iloc[2, 1] = np.nan
df.iloc[4, 0] = np.nan
df.iloc[3, 2] = np.nan
df.iloc[2, 2] = np.nan
print("dataframe with NaN value",df)

df.fillna(df.mean(),inplace=True)
print("dataframe after replacing with mean of columns",df)

In [ ]:
## Assignment 3: Data Cleaning
#2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C','D'])
print("original Dataframe",df)

df.iloc[0,1] = np.nan
df.iloc[2,2] = np.nan
df.iloc[4,0] = np.nan 
print("dataframe with nan values",df)
df.dropna(axis=0,inplace= True)
print("Aftering dropping the rows with nan values",df)

In [ ]:
### Assignment 4: Data Aggregation
#1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' 
# column with random categories ('A', 'B', 'C') and the 'Value' column with random integers.
#  Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
df = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

sum_mean =df.groupby('Category')['Value'].agg(['sum', 'mean'])
print("Grouped DataFrame:")
print(sum_mean)

In [ ]:
#Assignment 4: Data Aggregation
# 2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. 
# Fill the DataFrame with random data. 
# Group the DataFrame by 'Category' and compute the total sales for each category.

df = pd.DataFrame({'Product': np.random.choice(['Prod1', 'Prod2', 'Prod3'], size=10), 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

total_sales = df.groupby('Category')['Sales'].sum()
print("total sales",total_sales)

In [ ]:
### Assignment 5: Merging DataFrames
#1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
df1 = pd.DataFrame({'rollno':[1,2,3,4,5,6,7,8,9,10],'marks':np.random.randint(1,100,size=10)})
print("first dataframe",df1)
df2 = pd.DataFrame({'rollno':[1,2,3,4,5,6,7,8,9,10],'age':np.random.randint(15,20,size=10)})
print("Second Dataframe",df2)

df3 = pd.merge(df1,df2,on='rollno')
print("final dataframe after merging two dataframe",df3)

In [ ]:
### Assignment 5: Merging DataFrames
#2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("first dataframe")
print(df1)
print("second dataframe")
print(df2)

concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

In [ ]:
### Assignment 6: Time Series Analysis
#1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
date_rng = pd.date_range(start='2024-01-01', end='2024-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

monthly_mean = df.resample('ME').mean()
print("monthly mean of the values",monthly_mean)

In [ ]:
## Assignment 6: Time Series Analysis
#2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31'
#  and one column filled with random integers. Compute the rolling mean with a window of 7 days.
date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame:")
print(rolling_mean)

In [ ]:
### Assignment 7: MultiIndex DataFrame
#1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)
print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

In [ ]:
#Assignment 7: MultiIndex DataFrame
#2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'.
#  Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.
arrays = [['A', 'A', 'B', 'B', 'C', 'C'], ['one', 'two', 'one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Compute the sum of values for each 'Category' and 'SubCategory'
sum_values = df.groupby(['Category', 'SubCategory']).sum()
print("Sum of values:")
print(sum_values)

In [ ]:
### Assignment 8: Pivot Tables
#1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
df = pd.DataFrame({'Date': np.random.choice(date_rng, size=20), 'Category': np.random.choice(['A', 'B', 'C'], size=20), 'Value': np.random.randint(1, 100, size=20)})
print("Original DataFrame:")
print(df)

pivot_table = df.pivot_table(values='Value',index='Date',columns='Category', aggfunc='sum')
print("pivot table for value",pivot_table)

In [ ]:
### Assignment 8: Pivot Tables
#2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.
df = pd.DataFrame({'Year': np.random.choice([2020, 2021, 2022], size=12), 'Quarter': np.random.choice(['Q1', 'Q2', 'Q3', 'Q4'], size=12), 'Revenue': np.random.randint(1, 1000, size=12)})
print("Original DataFrame:")
print(df)

pivot_table = df.pivot_table(values='Revenue',index='Year', columns='Quarter',aggfunc='mean')
print(pivot_table)

In [ ]:
### Assignment 9: Applying Functions

#1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
df = pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=['A','B','C'])
print("original df",df)

double = df.map(lambda x:x**2)
print("Dataframe with doubled values",double)

In [ ]:
# Assignment 9: Applying Functions
# 2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.
df = pd.DataFrame(np.random.randint(1,100,size=(6,3)),columns=['A','B','C'])
print("original df",df)

df['sum'] = df.apply(lambda row:row.sum(),axis =1)
print("after creating a new column with values of existing columns",df)

In [ ]:
### Assignment 10: Working with Text Data
#1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
text = pd.Series(['one','two','three','four','five'])
print("original series",text)

upper_data = text.str.upper()
print("After converting the text string to uppercase",upper_data)

In [ ]:
### Assignment 10: Working with Text Data
#2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

text = pd.Series(['python','Java','C++','SQL','Ruby'])
print("original series",text)

first_three = text.str[:3]
print("first three character of each string in series",first_three)