# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [50]:

### Assignment 1: Creating and Accessing Tuples
#Create a tuple with the first 10 positive integers. Print the tuple.
tuple1 = tuple(range(1,11))
print("first ten positive integers:",tuple1)

first ten positive integers: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [40]:
### Assignment 2: Accessing Tuple Elements
#Print the first, middle, and last elements of the tuple created in Assignment 1.

print("First element",tuple1[0])
print("middle element",tuple1[len(tuple1)//2])
print("third element",tuple1[-1])

First element 1
middle element 6
third element 10

In [41]:
### Assignment 3: Tuple Slicing
#Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.
print("first three element",tuple1[0:3])
print("last three element",tuple1[-3:len(tuple1)])
print("element from index 2 to 5",tuple1[2:5])

first three element (1, 2, 3)
last three element (8, 9, 10)
element from index 2 to 5 (3, 4, 5)

In [42]:
### Assignment 4: Nested Tuples
#Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

mat_tuple = ((2,4,6),(3,6,9),(4,8,12))
print("3*3 tuple matrix",mat_tuple)
print("second row and third column",mat_tuple[1][2])

3*3 tuple matrix ((2, 4, 6), (3, 6, 9), (4, 8, 12))
second row and third column 9

In [43]:
### Assignment 5: Tuple Concatenation
#Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

tuple_1 = (1,2,3)
tuple_2 = (4,5,6)
concate_tuple = tuple_1+tuple_2
print("result after concatenating:",concate_tuple)

result after concatenating: (1, 2, 3, 4, 5, 6)

In [53]:
### Assignment 6: Tuple Methods
#Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

duplicate_tuple = (1,2,4,5,2,7,6,8,3,4,5,9)
print("occurence of 4:",duplicate_tuple.count(4))
print("index of first occurence of 4:",duplicate_tuple.index(4))

occurence of 4 2
index of first occurence of 4 2

In [46]:
### Assignment 7: Unpacking Tuples
#Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

tupleA = (3.11,1.44,2.27,4.45,6.7)
a,b,c,d,e = tupleA
print("five variales after unpacking")
print("a:",a)
print("b:",b)
print("c:",c)
print("d:",d)
print("e:",e)

five variales after unpacking
a: 3.11
b: 1.44
c: 2.27
d: 4.45
e: 6.7

In [47]:
### Assignment 8: Tuple Conversion
#Convert a list of the first 5 positive integers to a tuple. Print the tuple.

list1 = [1,2,3,4,5]
print(tuple(list1))

(1, 2, 3, 4, 5)

In [54]:
### Assignment 9: Tuple of Tuples
#Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
tot = ((1,2,3),(4,5,6),(7,8,9))
print("tuple of tuples",tot)

tuple of tuples ((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [68]:
### Assignment 10: Tuple and List
#Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
inital_tuple = (1,2,3,4,5)
lst=list(inital_tuple)
lst.append(6)
new_tuple=tuple(lst)
print("final tuple:",new_tuple)

final tuple: (1, 2, 3, 4, 5, 6)

In [77]:
### Assignment 11: Tuple and String
#Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

string = "hello"
tup= tuple(string)
print(tup)
new_str = ''.join(tup)
print(new_str)

('h', 'e', 'l', 'l', 'o')
hello

In [79]:
### Assignment 12: Tuple and Dictionary
#Create a dictionary with tuple keys and integer values. Print the dictionary.
dict = {
    (1, 3): 2,
    (2, 6): 4,
    (3, 9): 6
}
print(dict)

{(1, 3): 2, (2, 6): 4, (3, 9): 6}

In [80]:
### Assignment 13: Nested Tuple Iteration
#Create a nested tuple and iterate over the elements, printing each element.
nested_tpl=((2,3,4),(7,8,9))
for i in nested_tpl:
    print(i)
print()

(2, 3, 4)
(7, 8, 9)

In [81]:
### Assignment 14: Tuple and Set
#Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.
dup_tup = (1,2,3,4,5,2,3,4,5,6,7,8,9)
original = set(dup_tup)
print(original)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [85]:
### Assignment 15: Tuple Functions
#Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

def func(tup):
    mini = min(tup)
    maxi = max(tup)
    summation = sum(tup)
    return mini,maxi,summation

tup = (1,2,3)

print(func(tup))

(1, 3, 6)